<a href="https://colab.research.google.com/github/golesuman/Artificial-Intelligence-college-course/blob/main/naivebayes_for_text_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd
import numpy as np

In [44]:
df1 = pd.read_csv("test_file.csv")
df1.head()

                                                text  label_num
0                    Hey this is very serious manner          0
1  You are under danger pay some money to get sec...          1
2          you need to get serious in your life son.          0
3           Hey you are wasting your time go to work          0
4  some money is what you need call me to get the...          1

In [45]:
len(df1)

5

In [46]:
df2 = (df1[df1["label_num"] == 0])
df2

                                        text  label_num
0            Hey this is very serious manner          0
2  you need to get serious in your life son.          0
3   Hey you are wasting your time go to work          0

In [47]:
df3 = (df1[df1["label_num"] == 1])
df3

                                                text  label_num
1  You are under danger pay some money to get sec...          1
4  some money is what you need call me to get the...          1

In [48]:
ham_list= list((df2["text"]).values)
ham_list

['Hey this is very serious manner',
 'you need to get serious in your life son.',
 'Hey you are wasting your time go to work']

In [49]:
ham_word_list = [word for line in ham_list for word in line.split()]
ham_word_list

['Hey',
 'this',
 'is',
 'very',
 'serious',
 'manner',
 'you',
 'need',
 'to',
 'get',
 'serious',
 'in',
 'your',
 'life',
 'son.',
 'Hey',
 'you',
 'are',
 'wasting',
 'your',
 'time',
 'go',
 'to',
 'work']

In [50]:
spam_list = list((df3["text"]).values)
spam_words = [word for line in spam_list for word in line.split()]
spam_words

['You',
 'are',
 'under',
 'danger',
 'pay',
 'some',
 'money',
 'to',
 'get',
 'security',
 'some',
 'money',
 'is',
 'what',
 'you',
 'need',
 'call',
 'me',
 'to',
 'get',
 'the',
 'money']

In [51]:
total_spam = len(spam_words)
total_ham = len(ham_word_list)

In [52]:
print(total_spam)
print(total_ham)

22
24

In [53]:
def count_words(list_sentences):
  counter = {}
  for item in list_sentences:
    if item in counter:
      counter[item] += 1
    else:
      counter[item] = 1
  return counter

In [54]:
ham_word_count = count_words(ham_word_list)
print(ham_word_count)
spam_word_count = count_words(spam_words)
print(spam_word_count)

{'Hey': 2, 'this': 1, 'is': 1, 'very': 1, 'serious': 2, 'manner': 1, 'you': 2, 'need': 1, 'to': 2, 'get': 1, 'in': 1, 'your': 2, 'life': 1, 'son.': 1, 'are': 1, 'wasting': 1, 'time': 1, 'go': 1, 'work': 1}
{'You': 1, 'are': 1, 'under': 1, 'danger': 1, 'pay': 1, 'some': 2, 'money': 3, 'to': 2, 'get': 2, 'security': 1, 'is': 1, 'what': 1, 'you': 1, 'need': 1, 'call': 1, 'me': 1, 'the': 1}

In [55]:
def prob_of_each_word(word_count, total_word):
  prob_dict_of_word = {}
  for key, val in word_count.items():
    prob_of_each_key = (val/total_word)
    prob_dict_of_word[key] = prob_of_each_key
    # print(f"{key} -> {val}")

  return prob_dict_of_word


print(prob_of_each_word(word_count = ham_word_count, total_word = total_ham))

{'Hey': 0.08333333333333333, 'this': 0.041666666666666664, 'is': 0.041666666666666664, 'very': 0.041666666666666664, 'serious': 0.08333333333333333, 'manner': 0.041666666666666664, 'you': 0.08333333333333333, 'need': 0.041666666666666664, 'to': 0.08333333333333333, 'get': 0.041666666666666664, 'in': 0.041666666666666664, 'your': 0.08333333333333333, 'life': 0.041666666666666664, 'son.': 0.041666666666666664, 'are': 0.041666666666666664, 'wasting': 0.041666666666666664, 'time': 0.041666666666666664, 'go': 0.041666666666666664, 'work': 0.041666666666666664}

In [56]:
spam_prob_list = prob_of_each_word(spam_word_count, total_spam)
print(spam_prob_list)

{'You': 0.045454545454545456, 'are': 0.045454545454545456, 'under': 0.045454545454545456, 'danger': 0.045454545454545456, 'pay': 0.045454545454545456, 'some': 0.09090909090909091, 'money': 0.13636363636363635, 'to': 0.09090909090909091, 'get': 0.09090909090909091, 'security': 0.045454545454545456, 'is': 0.045454545454545456, 'what': 0.045454545454545456, 'you': 0.045454545454545456, 'need': 0.045454545454545456, 'call': 0.045454545454545456, 'me': 0.045454545454545456, 'the': 0.045454545454545456}

In [57]:
ham_prob_list = prob_of_each_word(ham_word_count, total_ham)
print(ham_prob_list)

{'Hey': 0.08333333333333333, 'this': 0.041666666666666664, 'is': 0.041666666666666664, 'very': 0.041666666666666664, 'serious': 0.08333333333333333, 'manner': 0.041666666666666664, 'you': 0.08333333333333333, 'need': 0.041666666666666664, 'to': 0.08333333333333333, 'get': 0.041666666666666664, 'in': 0.041666666666666664, 'your': 0.08333333333333333, 'life': 0.041666666666666664, 'son.': 0.041666666666666664, 'are': 0.041666666666666664, 'wasting': 0.041666666666666664, 'time': 0.041666666666666664, 'go': 0.041666666666666664, 'work': 0.041666666666666664}

In [58]:
total_ham_prob = len(df3) / len(df2)
total_spam_prob = len(df3) / len(df2)

In [59]:
"""You are out of money"""
def check_message(message, dict_message, total_message_prob):
  word_list = message.split()
  prob = 1
  for word in word_list:
    if word in dict_message:
      prob = prob * total_message_prob * dict_message[word]
    else:
      prob = prob * total_message_prob * 1

  return prob

prob_spam = check_message("You are out of money", spam_prob_list, total_spam_prob)

In [60]:
print(prob_spam)

3.710196547662112e-05

In [61]:
prob_ham = check_message("you are out of money", ham_prob_list, total_ham_prob)
print(prob_ham)

0.0004572473708276176

In [62]:
def result(prob_spam, prob_ham):
  return "spam" if prob_spam > prob_ham else "Normal"
  

ans =  result(prob_spam, prob_ham)
print(ans)

Normal